In [2]:
import pandas as pd

In [4]:
file_path1 = 'ThiTNTHPT2020.xlsx'
THPT2020 = pd.read_excel(file_path1)
# THPT2020.columns
# chon column minh muon
mon_tot_nghiep = ['sbd', 'toan', 'ngu_van', 'ngoai_ngu']
mon_khac = ['vat_li', 'hoa_hoc', 'sinh_hoc', 'lich_su', 'dia_li', 'gdcd']

# Lọc những thí sinh có điểm ở môn Toán và Ngữ Văn, môn Ngoại Ngữ có hoặc không có, và các môn khác đều trống
filtered_totnghiep_2020 = THPT2020[(THPT2020['toan'].notna()) & 
                                   (THPT2020['ngu_van'].notna()) & 
                                   (THPT2020[mon_khac].isna().all(axis=1))]

# Tạo một đối tượng ExcelWriter mới để lưu kết quả
with pd.ExcelWriter(file_path1, engine='openpyxl', mode='a') as writer:
    filtered_totnghiep_2020.to_excel(writer, sheet_name='tot_nghiep', index=False)

Index(['sbd', 'dia_li', 'gdcd', 'hoa_hoc', 'lich_su', 'ngoai_ngu', 'ngu_van',
       'sinh_hoc', 'toan', 'vat_li'],
      dtype='object')

In [39]:
# chon column minh muon
khtn = ['sbd', 'toan', 'vat_li', 'hoa_hoc', 'sinh_hoc', 'ngu_van', 'ngoai_ngu']
mon_khac1 = ['lich_su', 'dia_li', 'gdcd']


filtered_KHTN_2020 = THPT2020[(THPT2020['toan'].notna()) & 
                 (THPT2020['vat_li'].notna()) & 
                 (THPT2020['hoa_hoc'].notna()) & 
                 (THPT2020['sinh_hoc'].notna()) &
                 (THPT2020['ngu_van'].notna()) & 
                 (THPT2020[mon_khac1].isna().all(axis=1))]

# Create a new Excel writer object
with pd.ExcelWriter(file_path1, engine='openpyxl', mode='a') as writer:
    filtered_KHTN_2020.to_excel(writer, sheet_name='khtn', index=False)

In [43]:
# chon column minh muon
khxh = ['sbd', 'toan', 'lich_su', 'dia_li', 'gdcd', 'ngu_van', 'ngoai_ngu']
mon_khac2 = ['vat_li', 'hoa_hoc', 'sinh_hoc']


filtered_KHXH_2020 = THPT2020[(THPT2020['toan'].notna()) & 
                 (THPT2020['lich_su'].notna()) & 
                 (THPT2020['dia_li'].notna()) & 
                 (THPT2020['gdcd'].notna()) &
                 (THPT2020['ngu_van'].notna()) & 
                 (THPT2020[mon_khac2].isna().all(axis=1))]

# Create a new Excel writer object
with pd.ExcelWriter(file_path1, engine='openpyxl', mode='a') as writer:
    filtered_KHXH_2020.to_excel(writer, sheet_name='khxh', index=False)

In [2]:
import pandas as pd

# Dữ liệu đã cho
data = {
    "Năm": [2020, 2021, 2022, 2023, 2024],
    "Thi TNTHPT": [4740, 3513, 5628, 3717, 5370],
    "Thi ban KHTN": [336920, 321671, 315262, 320351, 333430],
    "Thi ban KHXH": [579854, 490114, 553295, 564430, 572691]
}

# Tạo DataFrame
df = pd.DataFrame(data)

# Tính phần trăm thay đổi so với năm trước cho mỗi cột
df_pct_change = df.set_index("Năm").pct_change() * 100

# Điền giá trị NaN bằng 0 (do năm đầu tiên không có năm trước để so sánh)
df_pct_change.fillna(0, inplace=True)

df_pct_change

      Thi TNTHPT  Thi ban KHTN  Thi ban KHXH
Năm
2020    0.000000      0.000000      0.000000
2021  -25.886076     -4.526000    -15.476310
2022   60.204953     -1.992408     12.891082
2023  -33.955224      1.614213      2.012489
2024   44.471348      4.082709      1.463600