In [3]:
import pandas as pd

In [5]:
file = 'ThiTNTHPT2024.xlsx'
THPT2024 = pd.read_excel(file)

In [6]:
# chon column minh muon
mon_tot_nghiep = ['sbd', 'toan', 'ngu_van', 'ngoai_ngu']
mon_khac = ['vat_li', 'hoa_hoc', 'sinh_hoc', 'lich_su', 'dia_li', 'gdcd']

# Filter the DataFrame to include only students with scores in Math, Vietnamese, and English
# and no scores in the other subjects
filtered_totnghiep_2024 = THPT2024[(THPT2024['toan'].notna()) & 
                 (THPT2024['ngu_van'].notna()) & 
                 (THPT2024['ngoai_ngu'].isna() | THPT2024['ngoai_ngu'].notna()) &
                 THPT2024[mon_khac].isna().all(axis=1)]

# Create a new Excel writer object
with pd.ExcelWriter(file, engine='openpyxl', mode='a') as writer:
    filtered_totnghiep_2024.to_excel(writer, sheet_name='tot_nghiep', index=False)

In [7]:
# chon column minh muon
khtn = ['sbd', 'toan', 'ngu_van','ngoai_ngu','vat_li', 'hoa_hoc', 'sinh_hoc']
mon_khac1 = ['lich_su', 'dia_li', 'gdcd']


filtered_KHTN_2024 = THPT2024[(THPT2024['toan'].notna()) & 
                 (THPT2024['ngu_van'].notna()) & 
                 (THPT2024['vat_li'].notna()) & 
                 (THPT2024['hoa_hoc'].notna()) & 
                 (THPT2024['sinh_hoc'].notna()) &
                 (THPT2024['ngoai_ngu'].isna() | THPT2024['ngoai_ngu'].notna()) &
                 THPT2024[mon_khac1].isna().all(axis=1)]

# Create a new Excel writer object
with pd.ExcelWriter(file, engine='openpyxl', mode='a') as writer:
    filtered_KHTN_2024.to_excel(writer, sheet_name='khtn', index=False)

In [10]:
# chon column minh muon
khxh = ['sbd', 'toan', 'ngu_van','ngoai_ngu','lich_su', 'dia_li', 'gdcd']
mon_khac2 = ['vat_li', 'hoa_hoc', 'sinh_hoc']


filtered_KHXH_2024 = THPT2024[(THPT2024['toan'].notna()) & 
                 (THPT2024['ngu_van'].notna()) & 
                 (THPT2024['lich_su'].notna()) & 
                 (THPT2024['dia_li'].notna()) & 
                 (THPT2024['gdcd'].notna()) &
                 (THPT2024['ngoai_ngu'].isna() | THPT2024['ngoai_ngu'].notna()) &
                 THPT2024[mon_khac2].isna().all(axis=1)]

# Create a new Excel writer object
with pd.ExcelWriter(file, engine='openpyxl', mode='a') as writer:
    filtered_KHXH_2024.to_excel(writer, sheet_name='khxh', index=False)